<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.oxycblt.auxio.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="org.oxycblt.auxio" android:priority="1" android:isStatic="true" />

    <application android:label="Auxio Overlay" android:hasCode="false"/>
</manifest>
